.inner {
  display: flex;
  align-items: stretch;
}

html[data-theme='dark'] .inner {
  background-image: url('./img/spots.webp');
  background-position: right 72px center;
  background-size: contain;
  background-repeat: no-repeat;
}

.inner > div:first-child {
  flex: 1 1 0%;
}

.title span {
  color: var(--ifm-color-primary-darkest);
}

html[data-theme='dark'] .title span {
  color: var(--ifm-color-primary-lightest);
}

.image {
  align-self: center;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 540px;
  height: 540px;
}

@media (max-width: 1535px) {
  html[data-theme='dark'] .inner {
    background-position: right 36px center;
  }

  .image {
    margin: -18px 0 -18px 12px;
    max-width: 45vw;
  }
}

@media screen and (max-width: 1279px) {
  .inner {
    flex-direction: column;
    text-align: center;
  }

  html[data-theme='dark'] .inner {
    background-position: bottom;
  }

  .inner > div:first-child {
    padding: 0;
  }

  .image {
    margin: 2rem auto 0;
    background-position: center;
    width: 100%;
    max-width: none;
    height: 360px;
    min-height: auto;
  }
}

@media screen and (max-width: 767px) {
  .image {
    height: 280px;
  }
}

@media screen and (max-width: 576px) {
  .image {
    height: 240px;
  }
}
