*                     @TheCatLady

latestRelease.json    @TheCatLady @lloesche @aquamatthias @meln1k
/docs/                @TheCatLady @lloesche @aquamatthias @meln1k
/news/                @TheCatLady @lloesche @aquamatthias @meln1k
/openapi/             @TheCatLady @lloesche @aquamatthias @meln1k

/tools/*.py           @TheCatLady @aquamatthias
