*                     @TheCatLady

latestRelease.json    @TheCatLady @lloesche @aquamatthias @meln1k @anjafr
/docs/                @TheCatLady @lloesche @aquamatthias @meln1k @anjafr
/news/                @TheCatLady @lloesche @aquamatthias @meln1k @anjafr
/openapi/             @TheCatLady @lloesche @aquamatthias @meln1k @anjafr

/tools/*.py           @TheCatLady @aquamatthias
