{
  "printWidth": 80,
  "singleQuote": true,
  "overrides": [
    {
      "files": [".imgbotconfig", ".eslintrc", ".prettierrc"],
      "options": { "parser": "json" }
    },
    {
      "files": ["docusaurus.config.js"],
      "options": { "printWidth": 90 }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "embeddedLanguageFormatting": "off",
        "printWidth": 240,
        "proseWrap": "never"
      }
    }
  ]
}
