.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 175px;
  width: 175px;
}

.featureLink:hover .featureSvg {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

@keyframes wobble {
  10% {
    transform: rotate(2.25deg);
  }

  30% {
    transform: rotate(-0.75deg);
  }

  70% {
    transform: rotate(0.25deg);
  }
}
