.toggle {
  height: 2em;
  width: 2em;
}

.toggle:hover {
  transform: scale(1.05);
  transition-duration: 75ms;
}

.toggleButton {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.toggleButton:hover {
  background: var(--ifm-color-emphasis-200);
}

[data-theme='light'] .darkToggleIcon,
[data-theme='dark'] .lightToggleIcon {
  display: none;
}

.toggleButtonDisabled {
  cursor: not-allowed;
}
