.paragraph {
  text-align: center;
}

.image {
  cursor: zoom-in;
  width: auto;
  max-height: min(50vh, 100vw);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.closeButton {
  padding: 0;
  width: 1em;
  height: 1em;
  color: var(--ifm-color-primary-contrast-foreground);
}
