.flex {
  display: flex;
}

.flex div:first-child {
  flex: 1 1 0%;
  padding-right: 72px;
}

.heading {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 112%;
  font-weight: 800;
  margin-bottom: 36px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: none;
}

.form input {
  height: 72px;
  border-radius: 36px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  padding: 0 42px;
  margin-bottom: 18px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #000c1d;
}

.inputError {
  border: 2px solid var(--ifm-color-danger-dark) !important;
}

p.error {
  margin-bottom: 0;
  color: var(--ifm-color-danger-dark);
  padding: 0 42px;
}

p.alert {
  font-size: 24px;
}

.image {
  width: 25vw;
  height: 25vw;
  max-width: 500px;
  max-height: 500px;
  background-image: url('./img/sheep-support.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

@media (max-width: 1535px) {
  .image {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (max-width: 1100px) {
  .flex {
    flex-direction: column;
  }

  .flex > div {
    padding-right: 0 !important;
  }

  .heading {
    font-size: 60px;
  }

  .image {
    width: 45vw;
    height: 45vw;
    margin: 72px auto 0;
  }
}

@media screen and (max-width: 750px) {
  .heading {
    font-size: 48px;
  }
}
