/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  --ifm-hero-background-color: #0a253f;
  --ifm-heading-color: #ffaf37;
  --ifm-hero-text-color: var(--ifm-color-gray-300);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > * {
  margin-right: 1rem;
}
