.hero {
  background-color: #d9b8ff44;
  padding: 48px;
  box-shadow: var(--ifm-global-shadow-md);
}

html[data-theme='dark'] .hero {
  background-color: #3d176e55;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
}

.heroInner > * {
  margin-right: 1.5rem;
}

.heroTitle {
  display: none;
}

.heroSubtitle {
  color: var(--ifm-color-primary-contrast-foreground);
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
  flex-grow: 1;
}

.heroSubtitle strong {
  color: var(--ifm-color-primary) !important;
}

.cursor {
  display: inline-block;
  background-color: var(--ifm-color-primary-contrast-foreground);
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

.heroButtons {
  margin: 25px auto 0;
  max-width: 1100px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.heroButtons > * {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier) *
        3 / 5
    );
}

.buttonIcon {
  margin-right: 0.5rem;
  width: 1.15em;
  height: 1.15em;
}

.speechButton {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 0.25em;
  --ifm-button-background-color: var(--ifm-color-primary-contrast-foreground);
  color: var(--ifm-color-primary-contrast-background);
}

.speechButton:hover {
  --ifm-button-background-color: var(--ifm-color-secondary-contrast-foreground);
}

.speechButton:after {
  content: '';
  position: absolute;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid var(--ifm-color-primary-contrast-foreground);
  border-top: 0.75em solid transparent;
  border-bottom: 0.75em solid transparent;
  left: -1.375em;
  transition-property: color, background, border-color;
  transition-duration: var(--ifm-button-transition-duration);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.speechButton:hover:after {
  border-right: 0.75em solid var(--ifm-button-background-color);
}

.heroLogo {
  height: 198px;
  width: auto;
  flex-shrink: 0;
  animation-duration: 2s;
  animation-name: logo-animation;
  margin-left: 30px;
}

.section {
  background-color: var(--ifm-color-primary-contrast-background);
  color: var(--ifm-color-primary-contrast-foreground);
  padding: 60px 48px;
  margin: 0 auto;
  line-height: 1.45;
}

.section:last-child {
  margin-bottom: -5rem;
  padding-bottom: calc(48px + 5rem);
}

.sectionAlt {
  background-color: transparent;
  color: var(--ifm-font-color-base);
  text-align: right;
}

html[data-theme='dark'] .section {
  --ifm-card-background-color: var(--ifm-background-color) !important;
}

html[data-theme='dark'] .sectionAlt {
  --ifm-card-background-color: var(--ifm-background-surface-color) !important;
}

.sectionContainer {
  margin: 0 auto;
  max-width: var(--ifm-container-width);
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
}

.sectionAlt .flexContainer {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.flexContainer > * + * {
  margin: 0 0 0 20px;
}

.sectionAlt .flexContainer > * + * {
  margin: 0 20px 0 0;
}

.flexContainer > div > p + p {
  margin-top: 5px;
}

.sectionBadge {
  text-transform: uppercase;
  font-size: 110%;
  margin-bottom: 5px;
}

.sectionTitle {
  color: var(--ifm-color-primary-contrast-foreground);
}

.sectionAlt .sectionTitle {
  color: var(--ifm-font-color-base);
}

.section p {
  font-size: 1.375rem;
  margin: 0.75rem auto 0 0;
}

.sectionAlt p {
  margin: 0 0 0 auto;
}

.sectionFeatureText p {
  font-size: 36px;
  max-width: 50ch;
  margin: 0 auto;
  line-height: 1.2;
}

.sectionFeatureText p + p {
  margin-top: 0.75rem;
}

.sectionImage {
  height: 150px;
  width: 150px;
  flex-shrink: 0;
}

.sectionImageContainer {
  width: 50%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.sectionImageContainer > * {
  max-height: 10rem;
}

.sectionImageContainer > * + * {
  margin: 0 0 0 1rem;
}

.quotation {
  text-align: center;
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  width: 75%;
  margin: 36px auto 0;
  background-color: #762dd711;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

html[data-theme='dark'] .quotation {
  background-color: #d9b8ff22;
}

.quotation::before,
.quotation::after {
  font-family: Georgia, serif;
  display: block;
  font-size: 150px;
  opacity: 0.15;
  line-height: normal;
}

.quotation::before {
  content: '“';
  align-self: flex-start;
  margin: -40px -20px -200px -10px;
}

.quotation::after {
  content: '”';
  align-self: flex-end;
  /* transform: scale(1, -1); */
  /* margin: -200px -20px -20px -20px; */
  margin: -45px -10px -80px -20px;
}

.quotation p {
  margin: 0 auto;
  font-style: italic;
  font-size: 1.5rem;
}

.quotation footer {
  font-size: 1.125rem;
  margin-top: 1rem;
}

.quotation footer::before {
  content: '― ';
}

.sectionItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 2.25rem auto 0;
  padding: 0;
}

.sectionItems > li + li {
  margin: 0 0 0 2rem;
}

.sectionItems li {
  flex: 1 1 0;
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-md);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  background-color: var(--ifm-card-background-color);
}

.sectionItems h3 {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--ifm-heading-margin-bottom) / 2);
}

.sectionItems p {
  font-size: 1.125rem;
}

.sectionItemIcon {
  color: var(--ifm-badge-color);
  background-color: var(--ifm-color-primary);
  border-radius: var(--ifm-badge-border-radius);
  height: 2rem;
  width: 2rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 996px) {
  .hero {
    padding: 24px;
  }

  .heroSubtitle {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
  }

  .heroLogo {
    display: none;
  }

  .heroButtons {
    justify-content: center;
  }

  .flexContainer {
    width: 100%;
  }

  .flexContainer > * + * {
    margin: 0;
  }

  .sectionFeatureText {
    font-size: 32px;
  }

  .sectionImage {
    display: none;
  }

  .sectionImageContainer {
    width: 80%;
  }

  .quotation {
    width: 100%;
  }

  .quotation p {
    font-size: 1.25rem;
  }

  .quotation footer {
    font-size: 0.875rem;
  }

  .sectionItems {
    flex-direction: column;
  }

  .sectionItems > li {
    width: 100%;
  }

  .sectionItems > li + li {
    margin: 1rem 0 0;
  }
}

@keyframes logo-animation {
  from {
    opacity: 0;
    transform: rotate(30deg);
    transform-origin: top left;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
