.hero {
  background-color: #ffffff;
  background-blend-mode: screen;
  overflow: hidden;
  color: var(--ifm-color-content);
}

html[data-theme='dark'] .hero {
  background-image: radial-gradient(
      farthest-corner at 60% 15%,
      #762dd7,
      transparent 60%
    ),
    radial-gradient(farthest-side at 75% 175%, #762dd7, transparent 75%);
  background-color: #24024f;
}

.inner {
  margin: 0 auto;
  padding: 72px;
  max-width: var(--ifm-container-width-xxl);
}

.inner h2 {
  color: var(--ifm-color-content);
  font-weight: 400;
}

.inner > h2 {
  font-size: 36px;
  line-height: 125%;
  text-align: center;
}

.inner h2 strong {
  -webkit-text-fill-color: transparent;
  background-image: var(--ifm-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 800;
}

.hero > .inner {
  display: flex;
  align-items: center;
}

.heroLeft {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  color: var(--ifm-color-content);
  font-weight: 800;
  font-size: 72px;
  line-height: 112%;
  text-transform: uppercase;
}

.title strong {
  -webkit-text-fill-color: transparent;
  background-image: var(--ifm-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  background-color: var(--ifm-color-content-secondary);
  font-weight: 800;
}

.hero .title strong:hover {
  animation: gradient var(--ifm-transition-slow) ease-in forwards;
}

.description {
  display: flex;
  margin: 2rem 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
}

.description span {
  flex-grow: 1;
  width: 0;
}

.heroRight {
  position: relative;
  flex: 1 0 auto;
  margin: -216px 0 -216px 24px;
  min-width: 570px;
}

.heroRight::after {
  display: block;
  padding-bottom: 100%;
  content: '';
}

.heroAnim {
  position: absolute;
  background-image: url('./img/hero/placeholder.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.heroAnimReducedMotion {
  animation: hero 20s infinite steps(1, end);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem -6rem -1rem -1rem;
}

.buttons > * {
  margin: 0 1rem 1rem;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: filter var(--ifm-transition-slow) ease,
    opacity var(--ifm-transition-fast) ease,
    background-color var(--ifm-transition-fast) ease,
    border var(--ifm-transition-fast) ease;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 36px;
  padding: 0 36px;
  height: 72px;
  font-weight: 600;
  font-size: 21px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button::before {
  transition: background-color var(--ifm-transition-fast) ease;
  margin-right: 18px;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  content: '';
}

.button:hover {
  text-decoration: none;
}

.primaryButton {
  --shadow-size: 6px;
  --shadow-color: #f3c3fb;
  filter: drop-shadow(
    var(--shadow-size) var(--shadow-size) 0 var(--shadow-color)
  );
  border-color: #762dd7;
  background-color: #762dd7;
  color: #ffffff;
}

.primaryButton:hover {
  --shadow-color: #e98df7;
  color: #ffffff;
}

html[data-theme='dark'] .primaryButton {
  --shadow-color: #ffffff;
}

html[data-theme='dark'] .primaryButton:hover {
  --shadow-color: #f3c3fb;
}

.primaryButton::before {
  background-image: url('./img/icons/arrow-outline.svg');
}

.primaryButton:hover::before {
  animation: spin 1s ease;
  background-image: url('./img/icons/arrow-filled.svg');
}

.outlinedButton {
  opacity: 0.8;
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

.outlinedButton:hover {
  opacity: 1;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-color: var(--ifm-color-primary);
  background-color: rgb(255, 255, 255, 0.05);
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] .outlinedButton {
  border-color: var(--ifm-color-content);
  color: var(--ifm-color-content);
}

.docsButton::before {
  background-image: url('./img/icons/docs-dark.svg');
}

html[data-theme='dark'] .docsButton::before {
  background-image: url('./img/icons/docs-light.svg');
}

.moreButton::before {
  background-image: url('./img/icons/arrow-dark.svg');
}

html[data-theme='dark'] .moreButton::before {
  background-image: url('./img/icons/arrow-light.svg');
}

.contentBottom {
  background-image: url('./img/bg-light.webp');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e9ebfd;
  padding: 24px 0 5rem;
}

html[data-theme='dark'] .contentBottom {
  background-image: url('./img/bg-dark.webp');
  background-color: #010c1d;
}

.content {
  background-image: radial-gradient(
      farthest-corner at -20% 65%,
      #d9b8ff,
      transparent 45%
    ),
    radial-gradient(farthest-corner at 100% 15%, #e0c3fb, transparent 20%);
  padding-bottom: 5rem;
}

html[data-theme='dark'] .content {
  background-image: radial-gradient(
      farthest-corner at -20% 65%,
      #6423ba,
      transparent 45%
    ),
    radial-gradient(farthest-corner at 100% 15%, #521d99, transparent 20%);
}

.section {
  margin: 0 auto;
  color: var(--ifm-color-content);
}

.section + .section {
  margin-top: 24px;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 4rem auto -1.5rem;
  width: 100%;
}

.logos > a {
  display: flex;
  flex: none;
  opacity: 0.5;
  transition: opacity var(--ifm-transition-fast) ease;
  margin: 0 2rem 1.5rem;
  max-width: 15rem;
  height: 3rem;
  color: var(--ifm-color-content);
}

.logos > a:hover {
  opacity: 1;
}

.logos > a > * {
  height: 100%;
}

@media (max-width: 1535px) {
  .inner {
    padding: 36px;
  }

  .section + .section {
    margin-top: 48px;
  }
}

@media screen and (max-width: 1279px) {
  .hero > .inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .buttons {
    justify-content: center;
    margin: 0 -0.75rem 1rem;
  }

  .buttons > * {
    margin: 0 0.75rem 1rem;
  }

  .title {
    font-size: 60px;
  }

  .description {
    justify-content: center;
    margin: 1rem 0 2rem;
    font-size: 26px;
  }

  .description span {
    width: 100%;
  }

  .heroRight {
    margin: 0;
    width: 75%;
    min-width: unset;
    max-width: 450px;
  }

  .inner > h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    padding: 24px;
  }

  .section + .section {
    margin-top: 32px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 21px;
  }

  .button {
    border-radius: 30px;
    padding: 0 30px;
    height: 60px;
    font-size: 17.5px;
  }

  .button::before {
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }

  .primaryButton {
    --shadow-size: 5px;
  }

  .inner > h2 {
    font-size: 24px;
  }

  .logos {
    margin: 4rem auto -1.5rem;
  }

  .logos > a {
    margin: 0 1.6rem 1.2rem;
    max-width: 12rem;
    height: 2.4rem;
  }
}

@media screen and (max-width: 576px) {
  .inner {
    padding: 18px;
  }

  .section + .section {
    margin-top: 24px;
  }

  .title {
    font-size: 44px;
  }

  .description {
    font-size: 20px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero .title strong:hover,
  .primaryButton:hover::before {
    animation: none;
  }
}

@keyframes gradient {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hero {
  0% {
    background-image: url('./img/hero/discover.webp'),
      url('./img/hero/placeholder.webp');
  }
  25% {
    background-image: url('./img/hero/remediate.webp'),
      url('./img/hero/discover.webp');
  }
  50% {
    background-image: url('./img/hero/automate.webp'),
      url('./img/hero/remediate.webp');
  }
  75% {
    background-image: url('./img/hero/monitor.webp'),
      url('./img/hero/automate.webp');
  }
}
