.section {
  margin-bottom: -5rem;
  padding-bottom: calc(48px + 5rem);
}

.flex {
  display: flex;
  align-items: stretch;
}

.flex div:first-child {
  flex: 1 1 0%;
  padding-right: 72px;
}

.heading {
  margin-bottom: 36px;
  font-weight: 800;
  font-size: 72px;
  line-height: 112%;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  display: none;
}

.form input,
.form textarea {
  margin-bottom: 8px;
  box-shadow: var(--ifm-global-shadow-lw);
  border: 1.5px solid #ffffff;
  border-radius: 36px;
  background-color: #ffffff;
  padding: 0 42px;
  color: #000c1d;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.form input {
  height: 72px;
}

.form textarea {
  margin-bottom: 24px;
  padding: 20px 42px;
}

.inputError {
  border: 1.5px solid var(--ifm-color-danger-dark) !important;
}

p.error {
  margin-bottom: 0;
  padding: 0 42px;
  color: var(--ifm-color-danger-dark);
  font-size: 16px;
  line-height: 1;
}

p.alert {
  font-size: 24px;
}

.image {
  background-image: url('./img/sheep-support.webp');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35vw;
  max-width: 500px;
}

@media screen and (max-width: 1100px) {
  .flex {
    flex-direction: column;
  }

  .flex > div {
    padding-right: 0 !important;
  }

  .heading {
    font-size: 60px;
  }

  .image {
    margin: 72px auto 0;
    width: 45vw;
    height: 45vw;
  }
}

@media screen and (max-width: 750px) {
  .heading {
    font-size: 48px;
  }
}
