.navbar__brand {
  margin-right: 1.5rem;
}

.navbar__logo {
  margin: 0;
  width: 2.25rem;
  height: 2.25rem;
}

.navbar__title {
  --logo-text: url('/img/navbar-logotext.svg');
  mask-image: var(--logo-text);
  -webkit-mask-image: var(--logo-text);
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--ifm-navbar-link-hover-color);
  width: 5.625rem;
  height: 2.25rem;
  color: #ffffff;
  font-size: 0;
}

.navbar__item:last-of-type {
  margin-right: var(--ifm-navbar-item-padding-horizontal);
}

.navbar__link {
  white-space: nowrap;
}

.dropdown--right .dropdown__menu {
  left: 0px;
  min-width: 10.5rem;
}

.dropdown__link {
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.dropdown__link:not(.dropdown__link--active):hover {
  background-color: unset;
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
}

.navbar__link--active,
.dropdown__link--active {
  border-radius: var(--ifm-global-radius);
  background: var(--ifm-menu-color-background-active);
}

.menu__link,
.menu__caret,
.menu__list-item-collapsible {
  border-radius: 1rem;
}

.navbar__items .social {
  display: flex;
  align-items: center;
}

.navbar__items .social .link-text {
  display: none;
}

.social::before,
.module::before,
.docs::before {
  flex: none;
  mask-image: var(--icon);
  -webkit-mask-image: var(--icon);
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--ifm-navbar-link-color);
  width: 2em;
  height: 2em;
  content: '';
}

.social:hover::before,
.dropdown__link:hover::before,
.dropdown__link--active::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.social::before {
  margin-left: calc(var(--ifm-navbar-item-padding-horizontal) * -1);
}

.module::before,
.docs::before {
  margin-right: 0.5em;
}

.menu__link.social::before,
.menu__link.social:hover::before,
.menu__link.module::before,
.menu__link.module:hover::before,
.menu__link.docs::before,
.menu__link.docs:hover::before {
  margin: 0 0.75em 0 0;
  background-color: var(--ifm-menu-color);
  width: 1.5em;
  height: 1.5em;
}

.menu__link--active::before {
  background-color: var(--ifm-menu-color-active) !important;
}

.github::before {
  --icon: url('../img/social/github.svg');
}

.discord::before {
  --icon: url('../img/social/discord.svg');
}

.linkedin::before {
  --icon: url('../img/social/linkedin.svg');
}

.youtube::before {
  --icon: url('../img/social/youtube.svg');
}

.overview::before {
  --icon: url('../img/icons/docs/overview.svg');
}

.getting-started::before {
  --icon: url('../img/icons/docs/getting-started.svg');
}

.how-to-guides::before {
  --icon: url('../img/icons/docs/how-to-guides.svg');
}

.concepts::before {
  --icon: url('../img/icons/docs/concepts.svg');
}

.reference::before {
  --icon: url('../img/icons/docs/reference.svg');
}

.development::before {
  --icon: url('../img/icons/docs/development.svg');
}

.github-stars {
  --ifm-button-background-color: var(--ifm-navbar-link-color);
  display: inline-block;
  position: relative;
  margin-left: 0.625em;
  border-radius: 0.875rem;
  padding: 0.375em 0.375em 0.375em 0.625em;
  color: var(--ifm-color-primary-contrast-background);
  text-align: center;
}

.social:hover > .github-stars {
  --ifm-button-background-color: var(--ifm-navbar-link-hover-color);
}

.github-stars:after {
  position: absolute;
  left: -1.25em;
  transition-duration: var(--ifm-button-transition-duration);
  transition-property: color, background, border-color;
  transition-timing-function: var(--ifm-transition-timing-default);
  border-top: 0.75em solid transparent;
  border-right: 0.75em solid var(--ifm-navbar-link-color);
  border-bottom: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
  content: '';
}

.social:hover > .github-stars:after {
  border-right: 0.75em solid var(--ifm-button-background-color);
}

.menu__list .github-stars {
  display: none;
}

@media screen and (max-width: 1279px) {
  .navbar__items .social:not(.github) {
    display: none;
  }

  .social::before {
    background-color: var(--ifm-navbar-link-color);
  }
}

@media screen and (max-width: 576px) {
  .menu__list-item .github-stars {
    display: none;
  }
}
